@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #009fa5;
    font-family: 'Gemunu Libre', sans-serif;
    line-height: 1.7;
}




.intro-image {
    height: 95vh;
    background-image: url('../img/intro.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    position: relative;
}
.intro-image__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



.intro-image .btn {
    display: block;
    color: honeydew;
    font-size: 2rem;
    text-decoration: none;
    padding: 1px 4px;
    border-radius: 4px;
    background-color: #009fa5;
    transition: all 0.3s;
}
.btn:hover {
    background-color: #009fa54d;
    transform: translateY(-5px);
}

.btn:active {
    transform: translateY(5px);
}



.intro-text {
    text-align: center;
}
.intro-text__textbox {
    color: aliceblue;
}
.heading-solid {
    font-size: 3rem;
}
.text-solid {
    font-size: 1.5rem;
}



.packaging-image {
    height: 50vh;
    background-image: url('../img/Delivery.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 1%, 100% 5%, 100% 100%, 0 95%);
    position: relative;
}





.footer {
    text-align: center;
}

.contact {
    display: inline-block;
    margin: 1rem;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper i, a {
  margin-right: 1rem;
  text-decoration: none;
  color: var(--text);
}

li {
    display: inline-table;
    list-style: none;
}